h2{
    color: white;
}
p{
    color: rgb(226, 226, 226);
    margin: 20px;
}

.Button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 300px;
}
.Button button{
    color: rgb(0, 0, 0);
    background-color: greenyellow;
    padding: 14px 16px;
    width: 200px;
    border-radius: 10px;
    border: none;
    box-shadow: white;
    
}

.Botao{
    display: flex;
    justify-content: center;
    padding: 20px;
}