h2 {
    color: white;
}

p {
    color: rgb(136, 136, 136);
    margin: 20px;
}

.Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 300px;
}

.Button button {
    color: rgb(255, 255, 255);
    background-color: #DF0041;
    padding: 14px 16px;
    width: 200px;
    border-radius: 10px;
    border: none;
    box-shadow: white;
}

.Botao {
    display: flex;
    justify-content: center;
    padding: 20px;
    z-index: 1000;
    position: fixed;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
}

h3 {
    color: rgb(255, 0, 0);
    padding: 5px;
}