
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.BoxF1 {
    height: 340px;
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.611);


}


.BoxF2 {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(23, 23, 23); ;
}

h4 {
    color: white;
    font-size: 10px;
    font-family: "Poppins", serif;
}

.BoxF2 img{
    width: 250px;
}

.Sobre{
    
 color: gray;
 padding: 10px;
}

.TextSobre p{

font-size: 8px;
text-align: center;
}

.password{
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.282);
    border-radius: 5px;
}

.ClosePass{
    background: none;
    border: none;
    color: white;
}

.e-book{
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.baixar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}